<template>
  <div>
    <button @click="logout" class="absolute btn btn-primary m-2 p-1">Logout</button>
    <div>
      <p class="text-center text-4xl p-10">Home</p>
      <p class="text-center p-10"> Congratulations you are authenticated</p>
    </div>
    
  </div>

</template>

<script>
import {FirebaseHelper} from "@/API/FirebaseHelper"

export default {
  name: "Landing",
  created() {
    this.api = new FirebaseHelper();
    this.checkAuth();
    if (!this.user) {
      this.$router.push('/')
    }

  },
  data() {
    return {
      user: null,
      username: null,
      message: ""
    }
  },
  methods: {
    async logout() {
      this.message = await this.api.logout();
      if (this.message === undefined) {
        this.$router.push("/");
      }
    },

    checkAuth() {
      this.user = this.api.isAuth();
    }
  },
}
</script>

<style scoped>

</style>