<template>
  <div class="hero min-h-screen bg-base-200">


    <div class="flex-col justify-center hero-content lg:flex-row">

      <div class="text-center lg:text-left">
        <h1 class="mb-5 text-5xl font-bold">
          Firebase Workshop
        </h1>
      </div>


      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">

        <div class="card-body">

          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input v-model="email" type="text" placeholder="email" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input v-model="password" type="password" placeholder="password" class="input input-bordered">
          </div>

          <div class="form-control mt-6">
            <input @click="loginButton" type="button" value="Login" class="btn btn-primary">
          </div>

          <div class="form-control mt-6">
            <input @click="registerButton" type="button" value="Register" class="btn btn-primary">
          </div>

          <p class="text-center p-2">{{this.loginStatus}}</p>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import {FirebaseHelper} from "@/API/FirebaseHelper"

export default {
name: "Login",
  components: {
  },
  mounted() {
    this.api = new FirebaseHelper();
  },
  data() {
    return {
      email: "",
      password: "",
      loginStatus: ""
    }
  },
  methods: {
    async loginButton() {
      this.loginStatus = await this.api.firebaseLogin(this.email, this.password);
      if (this.loginStatus === undefined) {
        this.$router.push('/landing');
      }
    },

    registerButton() {
        this.$router.push('/register');
    }
  },

}
</script>

<style scoped>

</style>