<template>
  <div class="hero min-h-screen bg-base-200">


    <div class="flex-col justify-center hero-content lg:flex-row">

      <div class="text-center lg:text-left">
        <h1 class="mb-5 text-5xl font-bold">
          Firebase Workshop
        </h1>
      </div>


      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">

        <div class="card-body">

          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input v-model="email" type="text" placeholder="email" class="input input-bordered">
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input v-model="password" type="password" placeholder="password" class="input input-bordered">
          </div>

          <div class="form-control mt-6">
            <input @click="registerButton" type="button" value="Register" class="btn btn-primary">
          </div>
          
          <p class="text-center p-2">{{this.registerStatus}}</p>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import {FirebaseHelper} from "@/API/FirebaseHelper"

export default {
name: "Register",
  components: {
  },
  mounted() {
    this.api = new FirebaseHelper();
  },
  data() {
    return {
      email: "",
      password: "",
      registerStatus: "",
      validatePassword: null,
      validateEmail: null,
      emailRegex: /^[\w!#$%&'+/=?`{|}~^-]+(?:\.[\w!#$%&'+/=?`{|}~^-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}$/
    }
  },
  methods: {
    async registerButton() {

        if (this.emailRegex.test(this.email)) {

            this.registerStatus = await this.api.firebaseRegister(this.email, this.password);
            if (this.registerStatus === undefined) {
                this.$router.push('/landing');
            }
        }  else {
            this.registerStatus = "Invalid Email"
        }     
    },

  },

}
</script>

<style scoped>

</style>